# Игнорируем всю папку googletest
googletest/

# Сборки
build/
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.o
*.obj
*.out

# Плагины
plugins/*.dll

# IDE файлы
.vs/
.idea/
*.user
*.sln
*.vcxproj*
*.cmake
CMakeCache.txt
CMakeFiles/
Makefile
*.autosave

# Логи
*.log